<div class="d-md-flex flexrow p-2">
    <a class="nav-link icon-size" href="https://www.linkedin.com/in/lautaro-blanco-44621215a/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a class="nav-link icon-size" href="https://www.instagram.com/lautaa_asinoma/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a class="nav-link icon-size" href="https://github.com/Lautaacode/portfolio-FrontEnd-static" target="_blank">
        <i class="fa-brands fa-github"></i>
    </a>
</div>